* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(120deg, #006816, #00584a);
    /* background-color: black; */
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;

}

header {
    font-size: 1.3rem;
    font-style: normal;
}

header,
form {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: rgb(255, 255, 255);
}

form button {
    color: #058a22;
    /* background: rgb(0, 187, 62); */
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);

}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;

}

.todo {
    margin: 0.5rem;
    background: #f8f8f8;
    color: black;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    text-align: start;
}

.todo li {
    flex: 1;
}

.delete-btn,
.complate-btn {
    background: rgb(253, 0, 0);
    color: black;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complate-btn {
    background: rgb(118, 0, 253);
    color: rgb(255, 255, 255);
}